<%= form_for @respondent, :html => {:class => "form"}, :remote => true do |f| %>

<div class="row-fluid">
  <div class="row">
    <div class="span1"></div>
    <div class="span11">
      <h1>
        <span class="title-setup">Set up your <span class="complimenti-title">Complimenti Tree</span></span>

      </h1>
    </div>
  </div>
  <div class="row">
    <div class="span1"></div>
    <div class="span5">
      <%= image_tag('/assets/tree.png') %>
    </div>
    <div class="span5 center">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner red-border" id="carousel-inner">
          <div class="active item">
            <div class="content-inner main-text">
             <p>Giving and receiving gifts shouldn't feel like a bank transaction.</p>
              <p><span class="complimenti-title">COMPLIMENTI.CO</span> lets people receive cash gifts in a beautiful new way.</p>
              <div class="next-button">
                <a href="#myCarousel" data-slide="next"><%= image_tag('/assets/next_button.png', :id => 'button_1') %></a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">
              <p class="main-text">
                Your complimenti tree starts as baby sappling. As your guests donate money to your tree it grows.
              </p>
              <br><br>
              <a href="#myCarousel" data-slide="next"><%= image_tag('/assets/next_button.png', :id => 'button_4', :style => "float: right;") %></a>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">
              <%= f.label :event, "Event type:", :class=>' main-text' %>
              <%= f.text_field :event, :placeholder => "event type", :id => "event_type" %>
              <br><br>
              <%= f.label :number_of_donors, "Number of planned guests", :class=>' main-text' %>
              <%= f.text_field :number_of_donors, :placeholder => "# of guests", :id => 'number_of_donors' %>
              <br><br>
              <div class="next-button">
                <a href="#myCarousel" data-slide="next"><%= image_tag('/assets/next_button.png', :id => 'button_2', :style => "display: none;") %></a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">
              <p class="main-text"><span class="complimenti-title">Complimenti</span> is almost ready. We'll let you
                know once it launches.</p>
              <%= f.label :email, "Email Address", :class=>' main-text' %>
              <%= f.text_field :email, :placeholder => "my_name@something.com", :id => 'email' %>
              <br><br>
              <%= f.submit("", :type => :image, :src => "/assets/next_button.png", :class => "next-button", :id => 'button_3', :style => "display: none;")  %>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">

              <h1 class="title-setup">Thank you!</h1>
              We'll be in touch soon.
            </div>
          </div>
          <!-- Carousel nav -->
          <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>-->
          <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
        </div>
      </div>
    </div>
    <div class="span1"></div>
  </div>
  <div class="span6"></div>
  <div class="span5"><div class="fine-print">A 5% fee is applied to all transactions</div></div>
  <div class="span1"></div>
</div>

<% end %>
