
<div class="row-fluid">
  <div class="span12 center">
    <h2 class="titles">Set up your Complimenti Tree</h2>
  </div>
  <div class="row">
    <div class="span6">
      <%= image_tag("/assets/polaroid.png") %>
    </div>
    <div class="span6 center">
      <div class="copy">Giving and receiving gifts for a special occasion shouldn't feel like a bank transaction. Complimenti.co lets people receive cash gifts in a beautiful new way.</div>
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="content-inner">
              <%= form_for @respondent, :html => {:class => "form"}, :remote => true do |f| %>
                  <%= f.label :event, "What kind of event will this be?" %>
                  <%= f.text_field :event, :placeholder => "event type", :id => "event_type" %>
                  <br><br>
                  <%= f.label :number_of_donors, "How many invitations will you need?" %>
                  <%= f.text_field :number_of_donors, :placeholder => "# of invitees" %>
              <% end %>
              <br><br>
              <p class="fine-print">There is a 5% fee on all transactions.</p>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">
              <%= form_for @respondent, :html => {:class => "form"}, :remote => true do |f| %>
                  <%= f.label :email, "Please enter your email address" %>
                  <%= f.text_field :email, :placeholder => "my_name@something.com" %>
                  <%= f.submit "Create New Post" %>
              <% end %>
            </div>

          </div>
          <div class="item">
            <div class="content-inner">
              <h1>Finished!</h1>
              Thank you!!!!
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div class="instructions">
          <p>How does it work?</p>
          <ol>
            <li>We give you a page with a baby tree.</li>
            <li>You send this page to your loved ones who can give you a cash gift.</li>
            <li>With each gift your tree grows a branch and you can see your gift with a personalized message.</li>
          </ol>

        </div>

      </div>

    </div>

    <div class="span12 center">

    </div>
  </div>

