
<div class="row-fluid">
  <div class="row">
    <div class="span1"></div>
    <div class="span11">
      Set up your COMPLIMENTI TREE
    </div>
  </div>
  <div class="row">
    <div class="span1"></div>
    <div class="span5">
      <%= image_tag('/assets/tree.png') %>
    </div>
    <div class="span5 center">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="content-inner">
              <%= form_for @respondent, :html => {:class => "form"}, :remote => true do |f| %>
                  <%= f.label :event, "What kind of event will this be?" %>
                  <%= f.text_field :event, :placeholder => "event type", :id => "event_type" %>
                  <br><br>
                  <%= f.label :number_of_donors, "How many invitations will you need?" %>
                  <%= f.text_field :number_of_donors, :placeholder => "# of invitees" %>
              <% end %>
              <br><br>
            </div>
          </div>
          <div class="item">
            <div class="content-inner">
              <%= form_for @respondent, :html => {:class => "form"}, :remote => true do |f| %>
                  <%= f.label :email, "Please enter your email address" %>
                  <%= f.text_field :email, :placeholder => "my_name@something.com" %>
                  <%= f.submit "Create New Post" %>
              <% end %>
            </div>

          </div>
          <div class="item">
            <div class="content-inner">
              <h1>Finished!</h1>
              Thank you!!!!
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    <div class="span1"></div>
  </div>
  <div class="span12"></div>
</div>
