<!DOCTYPE html>
<html>
<head>
  <title>Complimenti</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Londrina+Shadow' rel='stylesheet' type='text/css'>
  <%=favicon_link_tag 'favicon.ico'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<%= yield %>

</div>
</body>
</html>
